Please select up to $number words from the following list that best relate or are most closely associated with the word $clue.

$board

Please give your guess(es) in the format below (and do not include any other text in your answer):
GUESS: <WORD>
where WORD is your guessed word from the board. You can repeat this pattern for as many words as you want and can guess, with a minimum of 1 and a maximum of $number.